/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}



.navbar{
	background-color: rgba(255,255,0,0.85);  
	border: 0px solid;	
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
    
	

}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top; 

}

.navbar .navbar-collapse {
  
  
  float: none;
  vertical-align: top;  
  
}

ul.nav.navbar-nav.navbar-left{
	margin: 5px auto ;
	
}

.nav.navbar-nav.navbar-right > li > a{
	color: black;
	font-size: 16px;
}

.nav.navbar-nav.navbar-right > li :hover{
	color: rgb(255,255,0);
	background: black;
}


#large{
	font-size: 70px;

}

.headerdiv{	
	width: 100%;		
	background: #FFFF00;		
	color: #fff;
	float: left;
	min-height: 700px;	
	
}

div#leftheaderdiv.col-lg-12.col-sm-12.col-xs-12 > h1 {
	font-size: 5em;
}


.col-sm-12{
	padding: 0px;
}

.headerdiv h3{
	font-family: 'Baloo Chettan', cursive;
	text-align: center;
}

#search{
	background: #fff;	
	color: rgba(137,202,220,1);	
	
}



#herodiv{
	background: 
	linear-gradient(
      rgba(255,255,0,0.45), 
      rgba(255,255,0,0.45)
    ),

	url("//s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/santosham.png");

	background-repeat: no-repeat;
	background-size:cover;

	webkit-clip-path: polygon(0 0, 1600px 0, 1600px 80%, 0 100%);
  clip-path: polygon(0 0, 1600px 0, 1600px 80%, 0 100%);	  		

	top: 0;
	
}







/*#search:before, #search:after {

content: "";
height: 2px;
background-color: #242424;
}
*/

.col-lg-12.col-sm-12{
	padding: 0px 0px;
}

.col-md-3.col-sm-12{
	padding: 0px 0px;
}

#last-footer{
	background: rgb(137,202,220);	
	color: #fff;
	margin-bottom: 0px;
	

}




.headerdiv > #leftheaderdiv{
	float: left;
	/*width: 50%;	*/
	
}


.headerdiv > #leftheaderdiv > h1,h5{
	margin: auto 0px;	
	font-family: 'Baloo Chettan', cursive;
	text-align: center;	

	/*color: #fff; 
	font-family: "Great Vibes", cursive; font-size: 165px; 	 
	font-weight: normal; 
	margin-bottom: 0px; 
	margin-top: 40px; 
	text-align: center; */
	
	
}
.headerdiv > #leftheaderdiv > h1{
	text-shadow: 0 1px 1px #fff000; 	
}


.headerdiv > #leftheaderdiv > h3{
	font-family: 'Baloo Chettan', cursive;
	text-align: center;
}



.headerdiv >#rightheaderdiv > h3,h4  {
	font-family: 'Baloo Chettan', cursive;
	text-align: center;
}


.container{	
	width: 100%;	
	padding: 0px 0px;
	margin-top: 0px;
    	
}


.searchbox{
	text-align: center;
}


/*cool circle black button which can be used*/
.readmore { 
	-moz-border-radius: 50%;
	-moz-transition: all 0.2s ease-in-out; 
	-webkit-border-radius: 50%; 
	-webkit-transition: all 0.2s ease-in-out; 
	background: #111; 
	border-radius: 50%; 
	border: 10px solid #fdfdfd; 
	color: #fff; display: block; 
	font-family: 'Open Sans', 
	sans-serif; font-size: 14px; 
	height: 40px; 
	line-height: 80px; 
	
	position: absolute; 
		
	text-align: center; text-transform: uppercase; width: 80px; }



/*card*/

.card{
	margin: 0% 1% 1% 3.4% ;
	text-align: center;
	width: 20%;		
	padding: 1px;	
	float:left;	
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.55);
	position: relative;
}




/*.card :hover{
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
  }
*/


.card-img-top {
	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.card-img-top img{	
	flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    margin: 1px;
}



.card-text{
	font-size: 10px;
	margin: 2px;
}


.btn.btn-primary2{
	background: rgba(137,202,220,1);
	color: #fff;
	border: none;
	margin-bottom: 2px;
	
}

.pagination{
	text-align: center;
}





/*footer*/

.container2{	
	width: 100%;		
	background: #57bc90;	
	color: #fff;	
    bottom: 0;	    
	/*box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.55);*/
	
}

.footer{
	position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background: #57bc90;
}

.list-unstyled{


}

#custom{
	width: 100%;		
	background:black;	
	color: rgb(255,255,0);
    bottom: 0;	    	
	border-top: 5px solid;	
	overflow-x: hidden; 
	overflow-y: hidden; 
}

#custom > .row > .col-lg-12.col-sm-12 > .col-md-3.col-sm-12 > ul > li > a {
	color: rgb(255,255,0);
}


.list-unstyled{
	color: white;
	margin: 5px #fff;

}

.list-unstyled > li{
	margin: 5px #fff;
}

.list-unstyled > li > a{
	color: rgb(255,255,0);
	font-size: 12px;
}

.social{
	margin-top: 10%;
	margin-left:auto; 
	margin-right: auto;

}


.social li {
	background: #000 repeat scroll 0 0 rgb(255,255,0);
	border: 2px solid rgb(255,255,0);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: rgb(255,255,0);
}


.social li:hover {
	border: 2px solid rgb(255,255,0);
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: auto auto;	
	color: rgb(255,255,0) !important;
}


.w3-panel.w3-card-2{
	width: 80%;
	text-align: center;
	margin: 2% auto;

}

.w3-panel.w3-card{
	width: 100%;
	text-align: center;
	margin: 2% auto;
	color:#00303f;


}

.col-md-12.text-center > a {
	color:#57bc90;	
}

.col-md-12.text-center > h1{
	color:#000;	
}

.col-md-12.text-center > p{
	color:#000;	
}

.col-md-4.text-center > p{
	color:#000;	
}

.row{
	color:#00303f;
}




.list-unstyled li p{
	color: rgb(255,255,0);
}

.col-md-4.text-center.glyphicon.glyphicon-wrench {
	color: #000;
}



 #ribbon {
  	-webkit-transform: rotate(-45deg); 
  	-moz-transform: rotate(-45deg); 
  	-ms-transform: rotate(-45deg); 
   	-o-transform: rotate(-45deg); 
	transform: rotate(-45deg); 

    border: 25px solid transparent;
    border-top: 25px solid rgba(137,202,220,0.8);
    position: absolute;
    bottom: -1px;
    right: -35.5px;
    padding: 0 0px;
    width: 120px;
    color: white;
    font-family: sans-serif;
    size: 11px;
}
#ribbon2 {
  	-webkit-transform: rotate(-45deg); 
  	-moz-transform: rotate(-45deg); 
  	-ms-transform: rotate(-45deg); 
   	-o-transform: rotate(-45deg); 
	transform: rotate(-45deg); 
    border: 25px solid transparent;
    border-top: 25px solid rgba(255,0,0,0.5);
    position: absolute;
    bottom: -0.7px;
    right: -35.5px;
    padding: 0 0px;
    width: 120px;
    color: white;
    font-family: sans-serif;
    size: 11px;
}

#ribbon3 {
  	-webkit-transform: rotate(-45deg); 
  	-moz-transform: rotate(-45deg); 
  	-ms-transform: rotate(-45deg); 
   	-o-transform: rotate(-45deg); 
	transform: rotate(-45deg); 
    border: 25px solid transparent;
    border-top: 25px solid rgba(255,1,200,0.5);
    position: absolute;
    bottom: -0.7px;
    right: -35.5px;
    padding: 0 0px;
    width: 120px;
    color: white;
    font-family: sans-serif;
    size: 11px;
}

#txt {
    position: absolute;
    top: -25px;
    left: 20px;
}
#txt2 {
    position: absolute;
    top: -25px;
    left: 13px;
}


.center-column {
  float: left;
  overflow:hidden;
  width: 50%; 
  min-height: 300px;
  background-color: white;  
  width: 100%;
  text-align: center;
  display: block;
  margin: auto auto;
}

a.logolink{
  display: block; 

  max-width:140px; 
  max-height:70px; 
  width: auto; 
  height: auto; 
  margin-top: -12px;
  margin-bottom: 2px;
}


.center{
	margin: auto auto;
	text-align: center;
}


/*



#custom1{
    width: 100%;            
    background: #444356;    
    color: #fff;    
    bottom: 0;    
    border-top: 5px solid;
    background:  #ee0979;  fallback for old browsers 
    background: -webkit-linear-gradient(to bottom, #ee0979,#ff6a00); 
    background: linear-gradient(to bottom, #ee0979, #ff6a00);
}




*/



















/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 1024px) {


.navbar{
	
	/*display:none;*/

}


.headerdiv{		
	min-height: 700px;	
	
}

div#leftheaderdiv.col-lg-12.col-sm-12.col-xs-12
{
	margin-top: 20%;
}

div#leftheaderdiv.col-lg-12.col-sm-12.col-xs-12 > h1 {
	font-size: 45px;
	
}

div.col-md-12.text-center > img {
	max-width: 250px;
	max-height: 150px;
}


ul.nav.navbar-nav.navbar-left > li > img{
	margin-left: 1em;

}


.headerdiv h3{
	font-family: 'Baloo Chettan', cursive;
	text-align: center;
}

#search{
	background: #fff;	
	color: rgba(137,202,220,1);	
	
}



/*#search:before, #search:after {

content: "";
height: 2px;
background-color: #242424;
}
*/

#last-footer{
	background: rgb(137,202,220);	
	color: #fff;
	margin-bottom: 0px;
	

}



.headerdiv > #leftheaderdiv{	
	width: 100%;	
	display: inline-block;
    vertical-align: middle;
    margin: 10 em ;
	
}


.headerdiv > #leftheaderdiv > h1,h5{
	margin: auto 0px;	
	font-family: 'Baloo Chettan', cursive;
	text-align: center;	

	/*color: #fff; 
	font-family: "Great Vibes", cursive; font-size: 165px; 	 
	font-weight: normal; 
	margin-bottom: 0px; 
	margin-top: 40px; 
	text-align: center; */
	
	
}
.headerdiv > #leftheaderdiv > h1{
	text-shadow: 0 1px 1px #fff000; 
	text-align: center;	
	margin: 0px 0px;
}


.headerdiv > #leftheaderdiv > h3{
	font-family: 'Baloo Chettan', cursive;
	text-align: center;
}

.headerdiv >#rightheaderdiv{
	display: inline-block;
    vertical-align: middle;
    margin: 10 em ;
    width: 100%;	
}




.headerdiv >#rightheaderdiv > h3,h4  {

	font-family: 'Baloo Chettan', cursive;
	text-align: center;
}


.icon-bar{
	background: rgb(255,255,0);  
}





/*card*/

.card{
	margin: 0% 1% 1% 2% ;
	
	text-align: center;
	width: 100%;		
	padding: 1px;	
	display: inline-block;
  	float: none;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.55);
	
  	
}


.card-img-top img{	
	flex-shrink: 0;
    min-width: 200px;
    min-height: 200px;
    margin: 1px;
}



.card-text{
	font-size: 20px;
	margin: 2px;
}






/* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
