<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @newsletter_user.email %>
</p>

<%= link_to 'Edit', edit_newsletter_user_path(@newsletter_user) %> |
<%= link_to 'Back', newsletter_users_path %>
 -->