<div id="overlay"></div>
<div class="headerdiv" id = "herodiv">

	<div class = "col-lg-12 col-sm-12 col-xs-12" id = "leftheaderdiv">
		<h1 style = "margin-top: 10%;  color: black;">SANTOSHAHAM</h1>

		<p style = "margin-top: 2%;  color: black; padding-right: 40px; padding-left: 40px; text-align: justify;"><strong><i>
		I started my spritual journey working as a project manager for my teacher and mentor Maharshi Mahesh Yogi, the founder of Trancedental Meditation around 30 years ago. Worked very closely on the TM Movement for around 18 years. Learned, experienced, researched and practiced different forms of meditation, yoga, astrology and ayurveda. I have used my knowledge to help people in India solve their problems by providing spritual consultancy for more than 17 years. Now, I am embarking on another journey to reach out and help the people around the World find peace, tranquility, bliss and their purpose in life. 
		</i></strong></p>		

		<h4 style = "color: black; margin-top: 1%; padding-right: 20px; padding-left: 20px; " >Ask or Share with me your spritual questions and problems, I will be happy to help you solve them! </h4>
		<h3 style = "color: black; margin-top: 1%; padding-right: 20px; padding-left: 20px; ">Jai Guru Dev</h3>
	</div>

</div>



