
	<div class="headerdiv" style = "background: #FFF;">

		<div class = "col-lg-12 col-sm-12 col-xs-12" id = "leftheaderdiv" >
			<h1 style = "margin-top: 1%; color: black;">INSTAGRAM</h1>		
		</div>

		<!-- SnapWidget -->
	
		<iframe src="https://snapwidget.com/embed/400680" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>

	</div>
